* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: grey;
}

.card-container {
  width: 100vw;
  height: 100vh;
}

.card {
  /* width: 100%;
    height: 100%; */
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* margin: auto; */

  gap: 2px;
}

.country {
  width: 350px;
  height: 300px;
  text-align: center;
  /* margin: 50px; */
  /* border: 1px solid black; */
  border-radius: 20px;
  background-color: aliceblue;
  margin: 10px;
}

.country_img {
  width: 350px;
  height: 100px;
  margin: 20px 0;
  border-radius: 10px;
}
.neighboring {
  width: 100px;
  height: 100px;
}
/* .country_data {
      width: 100%;
      height: 100%;
    }
    
    .country_name {
      font-size: 1rem;
    }
    
    .country_region {
      font-size: 1.5rem;
    }
    .country_row {
      margin-top: 10px;
      font-size: 1.2rem;
    } */

.btn {
  height: 100px;
  width: 200px;
  font-size: 2rem;
  background-color: darkolivegreen;
  color: white;
  text-align: center;
  margin: auto;
  display: flex;
  text-decoration: none;
  padding: 15px;
}
